In [1]:
from requests.auth import HTTPBasicAuth
import requests
import json
import pandas as pd

In [36]:
# API key
TOKEN = 'XDJujSkUHlvvCOirYONTwk9953G7thie'

# Affectation des coordonnées au départ et à l'arrivée
dlong = "2.357795224218518"
dlat = "48.881422645383765"
along = "2.2858484602361986"
alat = "48.846779058452746"

with_wheelchair = True

# Date et heure du trajet
jour = "20241121T150000"

In [37]:
# URL de l'API
destination = (dlong + "%3B%20" + dlat + "&to=" + along + "%3B%20" + alat + "&datetime=" + jour +
               ('&wheelchair=true&max_duration_to_pt=300&data_freshness=realtime' if with_wheelchair else '&data_freshness=realtime'))
url = 'https://prim.iledefrance-mobilites.fr/marketplace/v2/navitia/journeys?from=' + destination

# Le header doit contenir la clé API : apikey, remplacer #VOTRE CLE API par votre clé API
headers = {'Accept': 'application/json', 'apikey': TOKEN}

In [38]:
# Envoi de la requête au serveur
req = requests.get(url, headers=headers)
print('Status:', req)

Status: <Response [200]>

In [39]:
with open('response.json', 'w') as response:
    json.dump(req.json(), response, indent=4)

In [25]:
# Lecture du json
data_json = req.json()
# data = pd.json_normalize(req.json())

# Les différents trajets retournés sont dans data['journeys'][0]
print(data_json['journeys'][0]['distances'])

{'walking': 419, 'bike': 0, 'car': 0, 'ridesharing': 0, 'taxi': 0}

In [26]:
journeys = list()

labels = ['walking_distance']

for journey in data_json['journeys']:
    infos = list()
    infos.append(journey['distances']['walking'])
    journeys.append(infos)
    
df_journeys = pd.DataFrame(journeys, columns=labels)
df_journeys

    walking_distance
0                419
1                395
2                157
3               1157
4                572
5                157
6                275
7                177
8                201
9                428
10              4989